[Unit]
Description=Play audio from Arduino Signal
Type=simple
ExecStart=/usr/bin/python3 /home/estockstudent/buttonsoundtest.py
WorkingDirectory=/home/estockstudent
Restart=always
User=estockstudent

[Install]
WantedBy=multi-user.target
